/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

$mustard-grey: #8C7A57;  // Defining mustard grey color

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 9em;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;
  transition: background-color 0.3s;

  &.overflow--hidden {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
  transition: color 0.3s;

  &:hover {
    color: darken($mustard-grey, 10%);
  }
}

// ... [Rest of your code remains the same]

/* links */

a {
  color: $mustard-grey;
  transition: color 0.3s, background-color 0.3s;

  &:focus {
    @extend %tab-focus;
  }

  &:hover,
  &:active {
    outline: 0;
    color: darken($mustard-grey, 10%);
    background-color: $lighter-gray;
  }
}

// ... [Rest of your code remains the same]

/* Navigation lists */

nav {
  ul {
    margin: 0;
    padding: 0;
    transition: all 0.3s;

    li {
      list-style: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: lighten($mustard-grey, 15%);
      }
    }
  }

  a {
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: darken($mustard-grey, 10%);
    }
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, .highlight, .archive__item-teaser {
  transition: $global-transition;
}
